<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>

</head>
<body>

    <app-layout>

        <section>


            <div class="modal fade right justify-content-center; modal-dialog-scrollable" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="exampleModalLabel">Seleccionar etiqueta a editar</h4>
                      <input type="text" name="" id="search-tag" #searchInput class="form-control ms-auto" style="width: 300px;" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)" placeholder="Buscar etiqueta...">
                    </div>
                    <div class="modal-body  justify-content-center align-items-center">
                      <div class="row g-3">
                        <div class="col-md-12">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Numero etiqueta</th>
                                <th>Nombre</th>
                                <th>Numero Serie</th>
                                <th>Editar</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let etiqueta of etiquetas">
                                <td>{{ etiqueta.numero_etiqueta}}</td>
                                <td>{{ etiqueta.usuario }}</td>
                                <td>{{ etiqueta.numero_serie }}</td>

                                <td>
                                  <button data-bs-dismiss="modal" class="btn btn-success" [routerLink]="['/update-etiqueta-pnmnt', etiqueta.id]">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                      <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                      <path d="M16 5l3 3" />
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>


            <div class="modal fade right justify-content-center" id="myModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">¿Deseas exportar la base de datos a excel?</h4>

                        </div>
                        <div class="modal-body d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success me-4" (click)="exportToExcel()">Si</button>
                            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">No</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="container mt-5 container-centered">
            <div class="container-form ">
                <h1 class="text-center mb-4">Etiquetas Empleados</h1>

                <!-- Primer Nivel -->
                <div class="col-md-12 row mb-3">
                    <div class="col-md-6">
                        <label for="numeroEtiqueta" class="form-label required">Número de Etiqueta</label>
                        <input type="number" class="form-control" id="numeroEtiqueta" placeholder="Número de Etiqueta" disabled="true" [(ngModel)]="numero_etiqueta">
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="empleadoclave" class="form-label required">Numero Empleado</label>
                        <input type="text" class="form-control" [(ngModel)]="numEmpleado" id="Empleadoclave" placeholder="Coloca la clave del empleado">
                      </div>
                      <div class="col-md-12">
                        <button type="button" class="btn btn-info w-100" (click)="buscarEmpleado()">Buscar</button>
                      </div>

                </div>

                <!-- Segundo Nivel -->
                <div class="col-md-12 row mb-3">

                    <div class="col-md-6">
                        <label for="usuario" class="form-label required">Usuario</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Usuario" [(ngModel)]="nombre">
                    </div>

                    <div class="col-md-6">
                        <label for="modelo" class="form-label required">Host</label>
                        <input type="text" class="form-control" id="host" placeholder="Host" [(ngModel)]="host">
                    </div>
                </div>

                <!-- Tercer Nivel -->
                <div class="col-md-12 row mb-3">
                  <div class="col-md-6">
                    <label for="modelo" class="form-label required">Modelo</label>
                    <select class="form-select w-100" id="modelo" [(ngModel)]="modelo">
                      <option selected value="0">Seleccione el Modelo</option>
                      <option *ngFor="let mod of modelos">{{mod.nombre}}</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label for="mac" class="form-label required">Mac Address</label>
                    <input type="text" class="form-control" id="mac" placeholder="Mac Address" [(ngModel)]="mac" (ngModelChange)="mac=$event.toUpperCase()" (keyup)="formatMacAddress()">
                  </div>
                </div>

                <!-- Cuarto Nivel -->
                 <div class="row mb-3">
                   <div class="col-md-6">
                       <label for="correo" class="form-label required">Correo</label>
                       <input type="email" class="form-control " id="mail" placeholder="Correo electrónico"[(ngModel)]="email">
                   </div>

                   <div class="col-md-6">
                       <label for="tipoEquipo" class="form-label required">Numero de Serie</label>
                       <input type="text" class="form-control" id="NodeSerie" [(ngModel)]="numero_serie" placeholder="Numero de serie" (ngModelChange)="numero_serie=$event.toUpperCase()">
                   </div>
                 </div>

                <!-- Quinto Nivel -->
                 <div class="row mb-3">
                   <div class="col-md-6">
                       <label for="anexo" class="form-label required">Anexo</label>
                       <select class="form-select w-100" id="anexo" [(ngModel)]="anexo">
                           <option selected value="0">Seleccione el Anexo</option>
                           <option *ngFor="let anex of anexos">{{anex.nombre}}</option>
                       </select>
                   </div>

                   <div class="col-md-6">
                       <label for="departamento" class="form-label required">Departamento</label>
                       <select class="form-select w-100" id="departamento" [(ngModel)]="departamento">
                           <option selected value="0">Seleccione el departamento</option>
                           <option *ngFor="let departa of departamentos">{{departa.nombre}}</option>
                       </select>
                   </div>
                 </div>
                <!-- Séptimo Nivel -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="fechaVigencia" class="form-label required">Fecha de vigencia</label>
                        <input type="date" class="form-control" id="fechaVigencia" disabled [(ngModel)]="fecha_vigencia" >
                    </div>
                    <div class="col-md-6">
                        <label for="fechaActual" class="form-label required">Fecha actual</label>
                        <input type="date" class="form-control" id="fechaActual" disabled [(ngModel)]="fecha_actual" >
                    </div>
                </div>

                <!-- Octavo Nivel -->
                <div class="form-level form-level-buttons">
                    <button type="button" class="btn btn-primary" (click)="CrearEtiqueta()">Generar Etiqueta</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal" >Actualizar Etiqueta</button>
                    <button type="button" class="btn btn-success" id="openModalBtn" data-bs-toggle="modal" data-bs-target="#myModal3">Exportar BD a Excel</button>
                </div>
            </div>
        </div>

        <br><br>

        <section class="form-level form-horizontal">
            <div id="etiquetaEmpleado" #etiquetaEmpleado>
                <img src="../../assets/Saved Pictures/etiempleado.png" alt="Etiqueta" id="etiquetaImage">
                <div class="index">#{{numero_etiqueta}}</div>
                <div class="nombre">{{nombre}}</div>
                <div class="departamento">{{departamento}}</div>
                <div class="host">{{host}}</div>
                <div class="modelo">{{modelo}}</div>
                <div class="numero_serie">{{numero_serie}}</div>
                <div class="vigencia">{{fecha_vigencia}}</div>
                <div class="anexo">{{anexo}}</div>


            </div>
        </section>
    </app-layout>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
