<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>
    <style>
        .form-level {
            margin-bottom: 20px;
        }
        .form-horizontal {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        .container-centered {
            display: flex;
            justify-content: center;
        }
        .container-form {
            max-width: 800px;
            width: 100%;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-control, .form-select {
            height: calc(1.5em + 1rem + 2px);
            font-size: 1.25rem;
        }
        .btn {
            font-size: 1.25rem;
        }
        .form-level-buttons {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    </style>
</head>
<body>

    <app-layout>


        <section>

            <!-- Modal DBexcel -->
            <div class="modal fade right justify-content-center" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Seleccionar etiqueta a editar</h4>
                    <input type="text" name="" id="search-tag" #searchInput class="form-control ms-auto" style="width: 200px;" [(ngModel)]="search" placeholder="Buscar etiqueta...">
                  </div>
                  <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="row g-3">
                      <div class="col-md-12">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Numero etiqueta</th>
                              <th>Fecha de vigencia</th>
                              <th>Fecha de creación</th>
                              <th>Editar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let etiqueta of filteredEtiquetas">
                              <td>{{ etiqueta.id }}</td>
                              <td>{{etiqueta.usuario}}</td>
                              <td>{{ etiqueta.fecha_vigencia }}</td>
                              <td>{{ etiqueta.created_at }}</td>
                              <td>
                                <button data-bs-dismiss="modal" class="btn btn-success" [routerLink]="['/update-etiqueta', etiqueta.id]">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                    <path d="M16 5l3 3" />
                                  </svg>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade right justify-content-center" id="myModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">¿Deseas exportar la base de datos a excel?</h4>
                        </div>
                        <div class="modal-body d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success me-4" (click)="exportToExcel()">Si</button>
                            <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">No</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="container mt-5 container-centered">
            <div class="container-form">
                <h1 class="text-center mb-4">Etiquetas Contratistas</h1>

                <!-- Primer Nivel -->
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="numeroEtiqueta" class="form-label">Número de Etiqueta</label>
                        <input type="number" class="form-control" id="numeroEtiqueta" [(ngModel)]="numero_etiqueta" placeholder="Número de Etiqueta" disabled="true">
                    </div>
                    <div class="mb-3">
                        <label for="tipoEquipo" class="form-label">Tipo de Equipo</label>
                        <select class="form-select" id="tipoEquipo" [(ngModel)]="tipo_equipo">
                            <option selected value="0" >Seleccione el Tipo de Equipo</option>
                            <option  *ngFor="let tipoequipo of tipo_equipo_a">{{tipoequipo.nombre}}</option>

                        </select>
                    </div>
                </div>


                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca</label>
                        <select class="form-select" id="marca" [(ngModel)]="marca">
                            <option selected value="0" disabled>Seleccione la Marca</option>
                            <option  *ngFor="let marca of marcas">{{marca.nombre}}</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" id="modelo" placeholder="Modelo" [(ngModel)]="modelo">
                    </div>
                </div>

                <!-- Tercer Nivel -->
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="numeroSerie" class="form-label">Número de Serie</label>
                        <input type="text" class="form-control" id="numeroSerie" placeholder="Número de Serie" [(ngModel)]="numero_serie">
                    </div>


                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario" placeholder="Usuario" [(ngModel)]="usuario">
                    </div>
                </div>

          

                <!-- Quinto Nivel -->
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="empresa" class="form-label">Empresa</label>
                        <select class="form-select" id="marca" [(ngModel)]="empresa" >
                            <option selected value="0" disabled>Seleccione la Empresa</option>
                            <option  *ngFor="let empresa of empresas">{{empresa.nombre}}</option>

                        </select>
                    </div>
                </div>
                <!-- Séptimo Nivel -->
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="fechaVigencia" class="form-label">Fecha de vigencia</label>
                        <input type="date" class="form-control" id="fechaVigencia" [value]="fecha_vigencia" disabled [(ngModel)]="fecha_vigencia">
                      </div>

                    <div class="mb-3">
                        <label for="fechaActual" class="form-label">Fecha actual</label>
                        <input type="date" class="form-control" id="fechaActual" [value]="fecha_actual" [(ngModel)]="fecha_actual" disabled="true" >
                    </div>
                </div>

                <!-- Octavo Nivel -->
                <div class="form-level form-level-buttons">
                    <button type="button" class="btn btn-primary" (click)="CrearEtiqueta()">Generar Etiqueta</button>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal" >Actualizar Etiqueta</button>
                    <button type="button" class="btn btn-success" id="openModalBtn" data-bs-toggle="modal" data-bs-target="#myModal3">Exportar BD a Excel</button>
                </div>
            </div>
        </div>
        <br><br>

        <section class="form-level form-horizontal">
            <div id="etiqueta" #etiqueta>
                <img src="../../assets/Saved Pictures/etiqueta.png" alt="Etiqueta" id="etiquetaImage">
                <div class="index">#{{numero_etiqueta}}</div>
                <div class="nombre">{{usuario}}</div>
                <div class="empresa">{{empresa}}</div>
                <div class="marca">{{marca}}</div>
                <div class="modelo">{{modelo}}</div>
                <div class="numero_serie">{{numero_serie}}</div>
                <div class="vigencia">{{fecha_vigencia}}</div>
                <div class="tipo_equipo">{{tipo_equipo}}</div>

            </div>
        </section>


    </app-layout>

</body>
</html>
