<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QH6Dwa4PpoZhxTm8nQ+9FdFG9yoQwhh07sCDJ3sPrx0vGQ/5zpyb7ug6NKLe1k/5" crossorigin="anonymous">
    <style>
        .form-level {
            margin-bottom: 20px;
        }
        .form-horizontal {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
        .container-centered {
            display: flex;
            justify-content: center;
        }
        .container-form {
            max-width: 800px;
            width: 100%;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-control, .form-select {
            height: calc(1.5em + 1rem + 2px);
            font-size: 1.25rem;
        }
        .btn {
            font-size: 1.25rem;
        }
        .form-level-buttons {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    </style>
</head>
<body>
    
    <app-layout>



        <div class="container mt-5 container-centered">
            <div class="container-form">
                <h1 class="text-center mb-4">Salida de Accesorios</h1>


                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="noEmpleado" class="form-label">Numero de Empleado:</label>
                        <input type="text" [(ngModel)]="numEmpleado"  class="form-control" id="noEmpleado" placeholder=""><br>
                        <button type="button"  class="btn btn-success"  (click)="buscarEmpleado()">Buscar</button>
                    </div>
                
                </div>
                
                <!-- Primer Nivel -->
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" [(ngModel)]="nombre" disabled="true" class="form-control" id="nombre" placeholder="">
                    </div>
                
                </div>
            
                <!-- Segundo Nivel -->
                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="departamento" class="form-label">Departamento</label>
                        <input type="text" [(ngModel)]="departamento" disabled="true" class="form-control" id="nombre" placeholder="">
                    </div>
                </div>
            
                <div class="form-level form-horizontal">
                    <div class="mb-3">
                        <label for="Ccostos" class="form-label">Centro de costos:</label>
                        <input type="Ccostos" [(ngModel)]="centroCostos" disabled="true" class="form-control" id="cbarras" placeholder="">
                    </div>
                
                </div>


                <div class="form-level form-horizontal" [hidden]="isBarcodeHidden">
                    <div class="mb-3">
                        <label for="cb" class="form-label">Codigo de barras:</label>
                        <input type="cb" class="form-control" id="cbarras" [(ngModel)]="codigoBarras" placeholder=""><br>
                        <button type="button" class="btn btn-info" (click)="getAccesorioByBarCode()"  >Agregar</button>
                    </div>
                
                </div>
            
            
                <section>
                    <table class="table table-bordered" [hidden]="isTableHidden" >
                        <thead class="table-dark">
                            <tr>
                                <th>Cantidad</th>
                                <th>Articulo</th>
                                <th>Marca</th>
                                <th>+ -</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let articulo of articulos">
                              <td>{{articulo.cantidad}}</td>
                              <td>{{articulo.articulo}}</td>
                              <td>{{articulo.marca}}</td>
                              <td>
                                <button type="button" class="btn btn-success" (click)="incrementarCantidad(articulo)">+</button>
                                <button type="button" class="btn btn-danger" (click)="decrementarCantidad(articulo)">-</button>
                              </td>
                            </tr>
                          </tbody>
                    </table>
                    
                </section>
               
            <br>
                <!-- Octavo Nivel -->
                <div class="form-level form-level-buttons">

                    <button type="button" class="btn btn-primary" (click)="generatePdf()" >Generar vale de custodia</button>
                    <button type="button" class="btn btn-danger" (click)="navigateTo('/')">Salir</button>
                    
                </div>

            </div>
        </div>

        <br><br><br>


        <section class="form-level form-horizontal" [hidden]="isDocHidden">
            <div id="vale" #vale>
                <img src="../../assets/Saved Pictures/hola.jpg" alt="Imagen de fondo" style="width: 100%; height: 100%;">
                <div>
                    <div class="nombre">{{nombre}}</div>
                    <div class="x">{{x}}</div>
                    <div class="departamento">{{departamento}}</div>
                    <div class="centroCostos">{{centroCostos}}</div>
                    
                    <div class="tabla">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Articulo</th>
                                    <th scope="col">Marca</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let articulo of articulos">
                                    <td>{{articulo.cantidad}}</td>
                                    <td>{{articulo.articulo}}</td>
                                    <td>{{articulo.marca}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </section>
    </app-layout>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>