/* home.component.css */

th {
  text-align: center;
}



.form-select {
  width: 200px; /* Ajusta este valor para cambiar el ancho */
}


.container {
    display: flex;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
   .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

 
  

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.modal.right .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: transform 0.3s ease-out;
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 1rem;
}
  
