<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+AY1dYbF2y1Upp6CTF0k6yH66f26X" crossorigin="anonymous">
    <style>
        .form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .modal.right .modal-dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            transition: transform 0.3s ease-out;
        }
        .modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
        }

        .modal.right .modal-body {
            padding: 1rem;
        }
    </style>
</head>
<body>
    <app-layout>

        <section>
            <div class="form-container">
                <div class="d-flex gap-3">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect2" aria-label="Floating label select example">
                            <option value="1">Marca</option>
                            <option value="2">Articulo</option>
                        </select>
                        <label for="floatingSelect2">Filtrar por:</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect1" aria-label="Disabled select example" disabled>
                            <option value="1">NAMESPACE</option>
                        </select>
                        <label for="floatingSelect1">Selecciona NAMESPACE:</label>
                    </div>
                    <button id="openModalBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Imprimir Inventario</button>
                </div>
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Total Articulos</li>
                    <li class="list-group-item">123</li>
                </ul>
            </div>
        </section>

        <section>
            <div class="modal fade right justify-content-center" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">¿En que formato deseas imprimir el inventario?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-success me-4">EXCEL</button>
                            <button type="button" class="btn btn-danger">PDF</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <section>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Cantidad</th>
                        <th>Articulo</th>
                        <th>Marca</th>
                        <th>Codigo de Barras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NAMESPACE</td>
                        <td>NAMESPACE</td>
                        <td>NAMESPACE</td>
                        <td>NAMESPACE</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </app-layout>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+AY1dYbF2y1Upp6CTF0k6yH66f26X" crossorigin="anonymous"></script>
</body>
</html>
