
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>
 
</head>
<body>





        <div class="container mt-5 container-centered">
            <div class="container-form">
                <h1 class="text-center mb-4">Nuevo Usuario TI</h1>

                <!-- Primer Nivel -->
                <div class="form-level form-horizontal d-flex flex-column">
                    <div class="mb-3">
                        <label for="numeroempleado" class="form-label">Numero empleado:</label>
                        <input type="text" class="form-control" id="numeroEmpleado" [(ngModel)]="numEmpleado" placeholder="">
                    </div>
                  </div>
                  <button class="btn btn-primary" (click)="buscarEmpleado()">Buscar usuario</button>

                <!-- Segundo Nivel -->
                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="nombreEmpleado" class="form-label">Nombre empleado:</label>
                        <input type="text" class="form-control" id="nombreEmpleados" disabled [(ngModel)]="nombre" placeholder="">
                    </div>
                </div>

                <div class="form-level form-horizontal">
                  <div class="mb-3">
                    <label for="" class="form-label">Correo</label>
                    <input type="email" class="form-control" [(ngModel)]="email" id="email" placeholder="example@gmail.com">
                  </div>
                </div>

                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="contraseña" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="contraseña" [(ngModel)]="contrasena" placeholder="">
                    </div>
                </div>

                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="confirmar contraseña" class="form-label">Confirmar Contraseña:</label>
                        <input type="password" class="form-control" id="confcontraseña" [(ngModel)]="confirmar_contrasena" placeholder="">
                    </div>
                </div>

                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="rol" class="form-label" >Rol</label>
                        <select class="form-select" id="rol" [(ngModel)]="rol">
                            <option selected [value]="0" >Seleccione un rol</option>
                            <option *ngFor="let rol of roles" [value]="rol.id" >{{ rol.rol }}</option>
                        </select>
                    </div>

                </div>

                <!-- Octavo Nivel -->
                <div class="form-level form-level-buttons">
                    <button type="button" class="btn btn-primary" (click)="register()" >Registrar</button>
                    <button type="button" class="btn btn-danger"(click)="navigateTo('/home')">Salir</button>

                </div>
            </div>
        </div>
   

</body>
</html>
