
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>

</head>
<body>





        <div class="container mt-5 container-centered">
            <div class="container-form">
                <h1 class="text-center mb-4">Nuevo Usuario TI</h1>

                <div class="row">
                  <!-- Primer Nivel -->
                      <div class="mb-3 col-md-12">
                          <label for="numeroempleado" class="form-label required">Numero empleado</label>
                          <input type="text" class="form-control" id="numeroEmpleado" [(ngModel)]="numEmpleado" placeholder="000000">
                          <button class="btn btn-primary mt-4" (click)="buscarEmpleado()">Buscar usuario</button>
                      </div>

                  <!-- Segundo Nivel -->

                      <div class="mb-3 col-md-6">
                          <label for="nombreEmpleado" class="form-label required">Nombre empleado</label>
                          <input type="text" class="form-control" id="nombreEmpleados" disabled [(ngModel)]="nombre" placeholder="John Doe">
                      </div>

                    <div class="mb-3 col-md-6">
                      <label for="" class="form-label required">Correo</label>
                      <input type="email" class="form-control" [(ngModel)]="email" id="email" placeholder="example@gmail.com">
                    </div>


                      <div class="mb-3 col-md-6">
                          <label for="contraseña" class="form-label required">Contraseña</label>
                          <input type="password" class="form-control" id="contraseña" [(ngModel)]="contrasena" placeholder="********">
                      </div>

                      <div class="mb-3 col-md-6">
                          <label for="confirmar contraseña" class="form-label required">Confirmar Contraseña</label>
                          <input type="password" class="form-control" id="confcontraseña" [(ngModel)]="confirmar_contrasena" placeholder="********">
                      </div>
                  </div>

                      <div class="mb-3 col-md-12">
                          <label for="rol" class="form-label required" >Rol</label>
                          <select class="form-select form-control w-100" id="rol" [(ngModel)]="rol">
                              <option selected [value]="0" >Seleccione un rol</option>
                              <option *ngFor="let rol of roles" [value]="rol.id" >{{ rol.rol }}</option>
                          </select>
                      </div>

                  <!-- Octavo Nivel -->
                   <div class="row">
                     <div class="col-md-6">
                       <button type="button" class="btn btn-primary w-100" (click)="register()" >Registrar</button>
                     </div>
                     <div class="col-md-6">
                       <button type="button" class="btn btn-danger w-100"(click)="navigateTo('/home')">Salir</button>
                     </div>
                   </div>
                </div>
            </div>


</body>
</html>
