@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.form-level {
    margin-bottom: 20px;
  }
  
  .form-horizontal {
    display: flex;
    gap: 20px;
  }
  
  th, td {
    text-align: center;
  }
  
  .form-select {
    width: 200px; /* Ajusta este valor para cambiar el ancho */
  }
  
  #carouselExampleFade {
    z-index: 0;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
  }
  
  .carousel .carousel-item {
    height: 100%;
    width: 100%;
  }
  
  .carousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Asegura que las imágenes se escalen correctamente */
  }
  
  #etiquetaEmpleado {
    position: relative;
  }
  
  .nombre, .departamento, .host, .modelo, .numero_serie, .vigencia, .tipo_equipo, .index, .anexo {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
  }
  
  .nombre {
    top: 92px;
    left: 294px;
    font-size: 41px;
  }

  .host {
    top: 159px;
    left: 294px;
    font-size: 48px;
  }
  
  .index {
    top: 15px;
    left: 31px;
    font-size: 48px;
  }

  .anexo {
    top: 15px;
    left: 480px;
    font-size: 38px;
  }
  
  .departamento {
    top: 235px;
    left: 294px;
    font-size: 48px;
  }
  

  
  .modelo {
    top: 310px;
    left: 294px;
    font-size: 48px;
  
  }
  
  .numero_serie {
    top: 385px;
    left: 294px;
    font-size: 48px;
  }
  
  .vigencia {
  
    top: 455px;
    left: 294px;
    font-size: 48px;
  
  }
  
  .tipo_equipo{
  
    top: 35px;
    left: 480px;
    font-size: 48px;
  }
  