body {
  display: flex;
     flex-direction: column;
     background-color: #273644;
     height: 100vh; /* Para cubrir toda la altura de la página */
     width: 100%; /* Para cubrir toda la anchura de la página */
 }


.form-level {
    margin-bottom: 20px;
  }
  
  .form-horizontal {
    display: flex;
    gap: 20px;
  }
  
  th, td {
    text-align: center;
  }
  
  .form-select {
    width: 200px; /* Ajusta este valor para cambiar el ancho */
  }
  
  #carouselExampleFade {
    z-index: 0;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
  }
  
  .carousel .carousel-item {
    height: 100%;
    width: 100%;
  }
  
  .carousel .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Asegura que las imágenes se escalen correctamente */
  }

  .form-level {
    margin-bottom: 20px;
}
.form-horizontal {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.container-centered {
    display: flex;
    justify-content: center;
}
.container-form {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-control, .form-select {
    height: calc(1.5em + 1rem + 2px);
    font-size: 1.25rem;
}
.btn {
    font-size: 1.25rem;
}
.form-level-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
  