
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario por Niveles</title>
    
</head>
<body>





        <div class="container mt-5 container-centered">
            <div class="container-form">
                <h1 class="text-center mb-4">Iniciar Sesion</h1>


                
                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="nombreEmpleado" class="form-label">Correo Electronico:</label>
                        <input type="email" class="form-control" [(ngModel)]="email" id="correoEmpleados" placeholder="">
                    </div>
                </div>

                <div class="form-level form-horizontal">

                    <div class="mb-3">
                        <label for="contraseña" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="contraseña" [(ngModel)]="password" placeholder="">
                    </div>
                </div>
                <!-- Octavo Nivel -->
                <div class="form-level form-level-buttons">
                    <button type="button" class="btn btn-primary"  (click)="login()">Iniciar Sesion</button>
                   

                </div>
            </div>
        </div>


</body>
</html>
